// Sobrescrever as cores padrão do Bootstrap
$primary: #d78794;
$secondary: #deaaac;
$success: #e8c6c9;
$info: #f8edeb;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

// Importe o Bootstrap
@import "bootstrap/scss/bootstrap";
