.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding: auto;
  gap: 28px;
  @apply text-rosa-escuro;
}
.upper {
  @apply bg-rosa-claro;
  font-size: 175%;
  padding: 10px;
  position: fixed;
  z-index: 2;
}

.user-info {
  position: absolute;
  width: 30%;
  height: 70%;
}

.user-info img {
  max-height: 100%;
  position: absolute;
}

.upper #title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.upper #hamb{
  position: absolute;
}

.user-info #username {
  font-size: 90%;
  left: 55px;
  position: absolute;
}

.side-right {
  @apply bg-rosa-claro-1;
  text-align: center;
  margin-top: 64px;
  transition: transform 0.3s ease;
}

.side-right #title {
  font-size: 150%;
  letter-spacing: 2px;
}

.names {
  justify-content: center;
  text-align: left;
  font-size: 100%;
  margin: 8%;
}

.tasks {
  margin-top: 90px;
  margin-right: 300px;
  margin-bottom: 100px;
}

.tasks-group {
  @apply bg-rosa-claro;
  text-align: left;
  width: 150%;
  margin-bottom: 100px;
}

.tasks-group button {
  margin: 0;
  border: 1px;
  font-size: 120%;
}

.plus-task {
  @apply text-rosa-claro;
  @apply bg-rosa-escuro;
  text-align: center;
  margin-bottom: 50px;
  font-size: 130%;
}

.task-detail-overlay {
  margin-right: 300px;
  margin-bottom: 200px;
  margin-top: 90px;
}

.task-detail {
  @apply bg-rosa-claro;
  text-align: left;
  width: 150%;
}

.timer {
  border-radius: 50%;
  vertical-align: middle;
  @apply border-2 border-rosa-escuro;
}

.pause {
  margin-bottom: 20px;
}

.new-task {
  @apply bg-rosa-claro;
}
