#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.signup-text {
  font-size: 14px;
  color: #d36e70;
}

.signup-text a {
  color: #d36e70;
  font-weight: bold;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.form-title {
  font-size: 24px;
  color: #d36e70;
  font-weight: bold;
}

.forgot-password {
  font-size: 12px;
  color: #d36e70;
  float: right;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
